.frame {
    position: relative;
    overflow: auto;
  	border: 1px solid green;
}
.recon {
    float: left;
    width: 100%;
  	
}
.box {
    position: absolute;
    cursor: pointer;
    border-right: 10px;
    opacity: 0.25;
    background-color:white;
    border:2px solid grey;
}
.circle{
    border-radius: 50%;
}
.box1 {
    top: 42%;
    left: 6%;
    width: 10%;
    height: 25%;
}
.box2{
    top: 75%;
    right:10%;
    width:10%;
    height:10%;
}
.box3{
	top:59%;
  	left: 21.5%;
	width: 5%;
	height:10%;
}
.box4{
    top:26%;
    left:37.5%;
    width: 5%;
    height: 10%;
}